.header-background{
    background-image: url("/images/parking1.jpg");
    background-size: cover;
    padding-bottom: 25px;
}

.white-text{
    color:white;
}

.darken-overlay{
    background-color:rgba(0,0,0, 0.6);
}

.margin-center{
    margin:auto;
}

.footer-color{
    background-color:#333333;
}

.pad-bottom{
    padding-top: 10px;
    padding-bottom:25px;
}



.grid-container {
    display: grid;
}

.map {
    border-image: 5px solid red;
}

.map-container {
    position: relative !important;
}

.map-image {
    position: absolute !important;
    /* TODO: This is some cheese, can we not do some darkmagicshit */
    margin-top: -115% !important;
}